.halloweenPumpkinContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*transform: scale(0,6);*/
}

.halloweenPumpkin {
    height: 187px;
    width: 255px;
    background: #f68632;
    border: 7px solid #a14907;
    border-radius: 70%/110%;
    position: relative;
    box-shadow: inset 0 0 20px #a14907, 0 0 30px -4px red;
    z-index: 1;
    animation: float 3s infinite;
}

.halloweenPumpkinTexture {
    height: 187px;
    width: 255px;
    position: absolute;
    bottom: -7px;
    border-radius: 70%/130%;
    border-bottom: 8px solid #a14907;
    border-top: 8px solid #a14907;
}

.halloweenPumpkinTexture::after {
    content: '';
    display: block;
    height: 182px;
    width: 204px;
    position: absolute;
    bottom: -7px;
    left: 25px;
    border-radius: 70%/130%;
    border-bottom: 8px solid #a14907;
    border-top: 8px solid #a14907;
}

.halloweenPumpkinRoot {
    background: #517f54;
    height: 48px;
    width: 21px;
    position: absolute;
    left: 117px;
    top: -46px;
    transform: rotate(5deg);
    border-radius: 30% 20% 70% 10%;
    z-index: 1;
    box-shadow: inset 0 0 10px #29412b;
}

.halloweenPumpkinEye {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 14px solid transparent;
    top: 48px;
}

.halloweenPumpkinEye.Right {
    right: 63px;
    border-left: 41px solid #401b03;
    border-bottom: 36px solid transparent;
    transform: rotate(30deg);
}

.halloweenPumpkinEye.Left {
    left: 63px;
    border-right: 41px solid #401b03;
    border-bottom: 36px solid transparent;
    transform: rotate(-30deg);
}

.halloweenPumpkinMouth {
    border-bottom: 17px solid #401b03;
    position: absolute;
    width: 68px;
    height: 34px;
    bottom: 25px;
}

.halloweenPumpkinMouth.Right {
    right: 61px;
    border-radius: 0 0 100% 0;
}

.halloweenPumpkinMouth.Left {
    left: 61px;
    border-radius: 0 0 0 100%;
}

.halloweenPumpkinTeeth {
    border-left: 14px solid #401b03;
    border-bottom: 0 solid transparent;
    border-top: 14px solid transparent;
    width: 8px;
    height: 17px;
    position: absolute;
    top: 131px;
    left: 123px;
}

.halloweenPumpkinShadow {
    margin: 10% auto 0;
    background: #222222;
    width: 230px;
    height: 50px;
    border-radius: 50%;
    animation: zoom 3s infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10%);
    }
}

@keyframes zoom {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
}

@keyframes light {
    0%, 100% {
        border-right-color: #401b03;
        border-left-color: #401b03;
    }
    50% {
        border-right-color: #E9C608;
        border-left-color: #E9C608;
    }
}

@keyframes light-mouth {
    0%, 100% {
        border-bottom-color: #401b03;
    }
    50% {
        border-bottom-color: #E9C608;
    }
}