.halloweenPumpkinContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*transform: scale(0,6);*/
}

.halloweenPumpkin {
    height: 99px;
    width: 128px;
    background: #f68632;
    border: 4px solid #a14907;
    border-radius: 70%/110%;
    position: relative;
    box-shadow: inset 0 0 20px #a14907, 0 0 30px -4px red;
    z-index: 1;
    animation: float 3s infinite;
}

.halloweenPumpkinTexture {
    height: 99px;
    width: 128px;
    position: absolute;
    bottom: -3px;
    border-radius: 70%/130%;
    border-bottom: 4px solid #a14907;
    border-top: 4px solid #a14907;
}

.halloweenPumpkinTexture::after {
    content: '';
    display: block;
    height: 99px;
    width: 102px;
    position: absolute;
    bottom: -3px;
    left: 12px;
    border-radius: 70%/130%;
    border-bottom: 4px solid #a14907;
    border-top: 4px solid #a14907;
}

.halloweenPumpkinRoot {
    background: #517f54;
    height: 24px;
    width: 10px;
    position: absolute;
    left: 59px;
    top: -23px;
    transform: rotate(5deg);
    border-radius: 30% 20% 70% 10%;
    z-index: 1;
    box-shadow: inset 0 0 10px #29412b;
}

.halloweenPumpkinEye {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    top: 24px;
}

.halloweenPumpkinEye.Right {
    right: 31px;
    border-left: 20px solid #401b03;
    border-bottom: 18px solid transparent;
    transform: rotate(30deg);
}

.halloweenPumpkinEye.Left {
    left: 31px;
    border-right: 20px solid #401b03;
    border-bottom: 18px solid transparent;
    transform: rotate(-30deg);
}

.halloweenPumpkinMouth {
    border-bottom: 8px solid #401b03;
    position: absolute;
    width: 34px;
    height: 17px;
    bottom: 12px;
}

.halloweenPumpkinMouth.Right {
    right: 30px;
    border-radius: 0 0 100% 0;
}

.halloweenPumpkinMouth.Left {
    left: 30px;
    border-radius: 0 0 0 100%;
}

.halloweenPumpkinTeeth {
    border-left: 7px solid #401b03;
    border-bottom: 0 solid transparent;
    border-top: 7px solid transparent;
    width: 4px;
    height: 8px;
    position: absolute;
    top: 72px;
    left: 61px;
}

.halloweenPumpkinShadow {
    margin: 10% auto 0;
    background: #222222;
    width: 115px;
    height: 25px;
    border-radius: 50%;
    animation: zoom 3s infinite;
}

@keyframes float {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10%);
    }
}

@keyframes zoom {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
}

@keyframes light {
    0%, 100% {
        border-right-color: #401b03;
        border-left-color: #401b03;
    }
    50% {
        border-right-color: #E9C608;
        border-left-color: #E9C608;
    }
}

@keyframes light-mouth {
    0%, 100% {
        border-bottom-color: #401b03;
    }
    50% {
        border-bottom-color: #E9C608;
    }
}