#modal-modalSchedule .ModalPageHeader__in{
    background-color: var(--background-block) !important;
    color: var(--text-color);
    font-size: 20px;
    font-weight: bold;
}

#modal-modalSchedule .ModalPage__content{
    background-color: var(--background);
    padding: 16px 16px 0 16px;
    overflow-y: scroll;
}
