.scheduleWeekTopBar {
    width: 90%;
    height: 54px;
    background-color: var(--background-head) !important;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px 0 8px 5%;
    position: relative;
}

.scheduleWeekDay {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 13px;
    z-index: 10;
}

.scheduleWeekDayDate {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    min-height: 24px;
}

.scheduleWeekDaySelected {
    background-color: #fff;
    border-radius: 100%;
    color: var(--background-text-color);
}


.scheduleWeekSwiperLeft{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0 20px 20px 0;
    position: absolute;
    left: 0;
    top: 64px;
    width: 28px;
    height: 28px;
    font-size: 20px;
    color: var(--background-text-color);
}

.scheduleWeekSwiperRight{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px 0 0 20px;
    position: absolute;
    left: calc(100% - 28px);
    top: 64px;
    width: 28px;
    height: 28px;
    font-size: 20px;
    color: var(--background-text-color);
}

#snow2 {
    display: none;
    background: url(../../snow_big.png);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: animateOne 20s infinite linear;
}
