.levelCircleContainer{
    width: 36px;
    height: 36px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: bold;
}