.customProgressBarContainer {
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    /*background-color: #dadada;*/
    background-color: var(--additional-background-block);
}

.customProgressBarContainer__in {
    height: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    /*background: linear-gradient(#05a732, #04d461);*/
    background: linear-gradient(90deg, var(--hallowen-temp-4), var(--hallowen-temp-5));
}