.header{
    display: block !important;
    width: 100%;
    height: 100%;
    background-color: #ff0000;
}

.View__header, .PanelHeader, .PanelHeader-bg, .PanelHeader__right, .PanelHeader-right{
    background-color: #ff0000 !important;
    display: none;
}