.header{
    background-color: rgb(86 144 255);
}

#panel-header-account > *, #header-bg-account > *, #header-right-account > *, #header-left-account > *{
    background-color: rgb(86 144 255) !important;
}

#studentInfo{
    display: flex;
    flex-direction: column;
}

#studentName{
    color: white;
    font-size: 15px;
    font-weight: bold;
}

#studentGrade{
    color: white;
    font-size: 13px;
}

.Group{
    margin: 0;
}

.blueBack{
    height: 36px;
    width: 100%;
    background-color: rgb(86 144 255);
}

.accountProgress{
    /*margin-top: -23px;*/
    background-color: white;
    height: 22px;
    border-radius: 14px;
    margin: -23px 10px 0 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}