/*#view-AuthorizationView .View__header * {*/
/*    background-color: var();*/
/*}*/

.authGroup{
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding: 0;
}

.authGroup.Div--ios {
    min-height: calc(100vh - 44px);
    height: calc(100% - 44px);
}

.authGroup.Div--android {
    min-height: calc(100vh - 56px);
    height: calc(100% - 56px);
}

.welcome{
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: 600;
    padding-left: 22px;
    padding-bottom: 0;
}
.medium_tip{
    color: var(--additional-text-color);
    font-size: 14px;
    font-weight: normal;
}

.large_tip{
    color: #767676;
    font-size: 20px;
    font-weight: normal;
    padding-left: 22px;
    padding-bottom: 0;
}

.annotate{
    text-align: start;
    color: var(--third-text-color);
    font-size: 13px;
    font-weight: normal;
}

.inputContainer{
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 48px;
}

.inputIcon{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 14px;
}

.inputInput{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inviteInput{
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
}


.authSignInButton {
    margin: 0;
    padding: 0;
    color: #fff;
    background: linear-gradient(#3aa9ff, #8364ff, #8465ff);
    box-shadow: 0 5px 15px 0 #4c569088;
    border-radius: 12px;
    height: 55px;
    width: 100%;
    outline: 0;
    /*border: 0;*/
}

.authSignInButton > div > div {
    font-size: 20px !important;
    font-weight: bold !important;
}

.restorePassword{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    color: var(--third-text-color);
    padding-bottom: 0;
}

.restoreLink{
    margin-left: 2px;
    font-weight: bold;
}