#panel-header-auth > *, #header-bg-auth > *, #header-right-auth > *, #header-left-auth > *, #header-title-auth > *{
    background-color: rgb(86 144 255) !important;
}

.authGroup{
    display: flex;
    margin: 0;
    height: calc(100vh - 46px);
}

.welcome{
    color: #212121;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 0;
}
.medium_tip{
    color: #767676;
    font-size: 14px;
    font-weight: normal;
}

.large_tip{
    color: #767676;
    font-size: 20px;
    font-weight: normal;
    /*margin-bottom: 22px;*/
}

.annotate{
    color: rgb(142 142 147);
    font-size: 12px;
    font-weight: normal;
}

.inputContainer{
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 48px;
}

.inputIcon{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.inputInput{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inviteInput{
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
}

#buttonContainer{
}

.getInButton{
    margin: 0;
    padding: 0;
    color: #fff;
    background: linear-gradient(rgb(58 169 255), rgb(131 100 255), rgb(132 101 255));
    border-radius:12px !important;
    height: 55px !important;
    width: 100%;
    border: 0;
}

.getInButton > div > div{
    font-size: 17px !important;
    font-weight: bold !important;
}

.restorePassword{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: #6d6d6d;
    padding-bottom: 0;
}

.restoreLink{
    margin-left: 2px;
    font-weight: bold;
}