.authGroup{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    min-height: calc(100vh - 44px);
    overflow-y: hidden;
}

.welcome{
    color: #212121;
    display: flex;
    flex-direction: row;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 0;
}
.medium_tip{
    color: #767676;
    font-size: 14px;
    font-weight: normal;
}

.large_tip{
    color: #767676;
    font-size: 20px;
    font-weight: normal;
    /*margin-bottom: 22px;*/
}

.annotate{
    color: #8E8E93;
    font-size: 12px;
    font-weight: normal;
}

.inputContainer{
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 48px;
}

.inputIcon{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-right: 14px;
}

.inputInput{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inviteInput{
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
}


.getInButton{
    margin: 0;
    padding: 0;
    color: #fff;
    background: linear-gradient(#3aa9ff, #8465ff);
    box-shadow: 0 5px 15px 0 #4c5690ff;
    border-radius:12px !important;
    height: 55px !important;
    width: 100%;
    border: 0;
}

.getInButton > div > div{
    font-size: 17px !important;
    font-weight: bold !important;
}

.restorePassword{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    color: #6d6d6d;
    padding-bottom: 0;
}

.restoreLink{
    margin-left: 2px;
    font-weight: bold;
}