#choose_school * {
    background-color: var(--background);
}

.chooseSchoolSearchContainer {
    background-color: var(--background-head) !important;
}

.chooseSchoolSearchContainer .Search__input {
    color: var(--text-color) !important;
}

.chooseSchoolSearchContainer .Search__after::before {
    background-color: var(--background-head) !important;
}

.chooseSchoolSearchContainer .Search__after-in {
    background-color: var(--background-head) !important;
    color: #ffffff !important;
}

.chooseSchoolButton {
    color: var(--inversed-text-color) !important;
}