#panel-header-choose_student *{
    background-color: #fff;
}

.chooseStudentScreen{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding-bottom: 0;
}

.chooseStudentScreen.Div--android {
    padding-top: 21px;
    height: calc(100vh - 77px);
}

.chooseStudentScreen.Div--ios {
    padding-top: 33px;
    height: calc(100vh - 77px);
}

.chooseStudentTitle{
    font-size: 24px;
    color: #212121;
    font-weight: bold;
}

.chooseStudentScreenStudents{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chooseStudentScreenStudentContainer{
    width: 100%;
    height: 68px;
    border-radius: 20px !important;
    background-color: #f6f6f6;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    padding: 12px 16px 12px 16px;
}

.chooseStudentScreenStudentContainer > .Button__in{
    justify-content: flex-start;
}

.chooseStudentScreenStudentName{
    color: #1f1f1f;
    font-size: 16px;
    margin-bottom: 4px;
}

.chooseStudentScreenStudentGrade{
    display: flex;
    color: #8c8c8c;
    font-size: 14px;
}