.chooseDiaryScreen{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: calc(100vh - 68px);
}

.chooseDiaryScreenTitle{
    font-size: 21px;
    font-weight: bold;
}

.chooseDiaryScreenDiaryDiaries{
    width: 100%;
}

.chooseDiaryScreenDiaryContainer{
    width: 100%;
    height: 44px;
    border-radius: 20px;
    /*border: 1px solid #efefef;*/
    background-color: #f6f6f6;
    margin-bottom: 16px;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
}

.chooseDiaryScreenDiaryContainer > div > div{
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    color: black !important;
}

.chooseDiaryScreenDiaryContainerIcon{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    margin: 0 15px 0 0;
}

.chooseDiaryScreenDiaryContainerChecker{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

.chooseDiaryScreenDiaryContainerTitle{
    font-size: 16px;
    color: #1f1f1f;
}

#buttonContainer{
    width: 100%;
}

.getInButton{
    margin: 0;
    padding: 0;
    color: #fff;
    background: linear-gradient(rgb(58 169 255), rgb(131 100 255), rgb(132 101 255));
    border-radius:12px !important;
    height: 55px !important;
    width: 100%;
    border: 0;
}

.getInButton > div > div{
    font-size: 17px !important;
    font-weight: bold !important;
}