#panel-header-choose_diary * {
    background-color: var(--background);
}

.chooseDiaryScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    padding-bottom: 0;
}

.chooseDiaryScreen.Div--android {
    padding-top: 21px;
    height: calc(100vh - 77px);
}

.chooseDiaryScreen.Div--ios {
    padding-top: 33px;
    height: calc(100vh - 77px);
}

.chooseDiaryScreenTitle {
    color: var(--text-color);
    font-size: 21px;
    margin-bottom: 32px;
    user-select: none;
}

.chooseDiaryScreenDiaryDiaries {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.chooseDiaryScreenDiaryContainer {
    width: 100%;
    height: 58px;
    border-radius: 20px;
    /*border: 1px solid #efefef;*/
    background-color: var(--background-block);
    margin-bottom: 16px;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    /*justify-content: center;*/
}

.chooseDiaryScreenDiaryContainer > div > div {
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    color: var(--text-color);
    padding: 4px 0 4px 0;
    user-select: none;
}

.chooseDiaryScreenDiaryContainerIcon {
    margin: 0 15px 0 0;
}

.chooseDiaryScreenDiaryContainerChecker {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    align-content: flex-end;
}

.chooseDiaryScreenDiaryContainerTitle {
    font-size: 16px;
    color: var(--text-color);
    line-height: 1.2;
    text-align: center;
    user-select: none;
}