#header-title-marks{
    width: 100% !important;
}

.marksTabs{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: transparent !important;
}

.marksTabs > .TabsItem{
    display: flex;
    flex-grow: 2;
    background-color: transparent !important;
    border-radius: 7px !important;
}

.marksTabs > .TabsItem--selected{
    background-color:  rgb(86 144 255) !important;
    color: #fff !important;
}

.marksTabs > .TabsItem > div{
    color: rgb(86 144 255) !important;
    font-weight: bold !important;
}

.marksTabs > .TabsItem--selected > div{
    color: #fff !important;
}

#header-right-marks > *, #header-left-marks > *{
    display: none;
}


.title{
    font-size: 16px;
    font-weight: bold;
    color: rgb(86 144 255);
    z-index: 3;
    /*padding-bottom: 0;*/
    /*padding-top: 0;*/
}

.allMarksContainer{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(27, 27, 78, 0.1);
    border-radius: 14px;
    margin: 0 15px 12px 15px;
}

.subjectRow{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 7px;
}

.subject{
    font-size: 17px;
}

.avg{
    font-size: 13px;
    color: rgb(140 140 140);
}

.marksRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
}

.marksRow > div{
    margin-right: 14px;
    margin-bottom: 8px;
}

.advicesRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.adviceContainer{
    padding: 1px 7px 1px 7px;
    background: linear-gradient(90deg, rgb(28 179 54), rgb(114 222 32));
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
}

#panel-header-marks > *, #header-bg-marks > *, #header-right-marks > *, #header-left-marks > *, #header-title-marks > *{
    background-color: rgb(86 144 255) !important;
    color: white !important;
}


.lastMarksContainer{
    height:108px;
}

.lastMarksContainer > .HorizontalScroll__in{
    padding: 0;
}

.lastMarkContainer{
    width: 68px;
    height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    border-radius: 20px;
    margin: 5px 0 10px 10px;
    z-index: 5;
}

.lastMarkSubject{
    font-size: 9px;
    color: rgb(86 144 255);
}

.lastMarkDate{
    font-size: 9px;
    color: white;
    background-color: rgb(86 144 255);
    border-radius: 7px;
    margin: 0 5px 0 4px;
    padding: 0 5px 0 4px;
}

.resultMarksContainer{
    background-color: #fff;
    box-shadow: 0 5px 15px 0 rgba(27, 27, 78, 0.1);
    display: flex;
    flex-direction: column;
    margin: 12px 15px 0 15px;
    border-radius: 14px;
}

.resultMarksContainerSubject{
    font-size: 17px;
    color: #000;
    margin-bottom: 7px;
}

.resultMarksContainerMarks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.resultMarksContainerMark{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    border-right: 2px solid rgb(246 246 246);
}

.resultMarksContainerResultedMark{
    display: flex;
    flex-grow: 1;
    justify-content: center;
}