#marks > .Panel__in {
    padding-bottom: 0 !important;
    background-color: var(--background);
}

.marksScreen {
    background-color: var(--background);
    min-height: 100vh;
    height: 100%;
    padding-bottom: 56px;
}

.marksScreenError {
    font-size: 16px;
    color: var(--warning-text);
    padding: 50% 16px 0 16px;
    text-align: center;
}

.marksTabs {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: transparent !important;
    padding-bottom: 0 !important;
}

.marksTabs > .TabsItem {
    display: flex;
    flex-grow: 2;
    background-color: transparent !important;
    border-radius: 10px !important;
    margin-bottom: 5px;
    height: 32px;
}

.marksTabs > .TabsItem--selected {
    background-color: #5690ff !important;
    color: var(--background-text-color) !important;
}

.marksTabs > .TabsItem--selected::after {
    display: none;
}

.marksTabs > .TabsItem > div {
    color: var(--background-text-color) !important;
    font-weight: bold !important;
}

.marksTabs > .TabsItem--selected > div {
    color: #fff !important;
}

.marksBlocksTitle {
    font-size: 14px;
    color: #5690ff;
    padding-bottom: 6px;
    padding-top: 0;
}

.allMarksContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--background-block);
    border-radius: 20px;
    margin: 12px 16px 0 16px;
    padding: 8px 12px 8px 12px;
}

.subjectRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.subject {
    font-size: 16px;
    color: var(--text-color);
    text-align: start;
}

.subjectRowMarks {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.subjectRowMarksFinalMark {
    margin-right: 8px;
}

.avg {
    font-size: 12px;
    color: var(--third-text-color);
}

.marksRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: auto;
    flex-wrap: wrap;
}

.marksRow > div {
    margin-right: 14px;
    margin-bottom: 8px;
}

.advicesRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.adviceContainer {
    padding: 1px 7px 1px 7px;
    background: linear-gradient(90deg, #1CB336, #72DE20);
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
}

.lastMarksContainer {
    min-height: 108px;
    padding-bottom: 20px;
}

.lastMarksContainer > .HorizontalScroll__in {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.lastMarkContainer {
    min-width: 68px;
    min-height: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 4px 4px 11px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--background);
    border-radius: 20px;
    margin: 5px 0 10px 10px;
    z-index: 5;
}

.lastMarkSubject {
    font-size: 9px;
    color: #5690ff;
    text-align: center;
    margin-top: 9px;
}

.lastMarkDate {
    font-size: 9px;
    color: white;
    border-radius: 7px;
    margin: 6px 5px 0 4px;
    padding: 0 5px 0 4px;
}

.resultMarksContainer {
    background-color: var(--background-block);
    display: flex;
    flex-direction: column;
    margin: 0 16px 12px 16px;
    border-radius: 17px;
}

.resultMarksContainerSubject {
    font-size: 16px;
    color: var(--text-color);
    margin-bottom: 11px;
}

.resultMarksContainerMarks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.resultMarksContainerMark {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    border-right: 2px solid #e8e8e8;
}

.resultMarksContainerResultedTitle {
    font-size: 14px;
    color: var(--third-text-color);
    margin-right: 17px;
}

.resultMarksContainerResultedMark {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.modalMarkTitle {
    font-size: 14px;
    color: #5690ff;
    margin-bottom: 23px;
}

.modalMarkSubjectInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 14px;
    font-size: 14px;
    color: var(--additional-text-color);
}

.modalMarkSubjectInfoLeft {
    margin-right: 25px;
    font-size: 14px;
    color: var(--third-text-color);
}

.modalMarkMarksInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 19px;
}

.modalMarkMarksInfoLeft {
    height: 100%;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.modalMarkMarksInfoContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.modalMarkMarksInfoForm {
    font-size: 16px;
    color: var(--text-color);
}

.modalMarkMarksInfoName {
    font-size: 14px;
    color: var(--additional-text-color);
    margin: 7px 0 7px 0;
}

.modalMarkMarksInfoDate {
    font-size: 12px;
    color: var(--third-text-color);
}

.errorLastMarks {
    font-size: 12px;
    color: #E80A1E;
    text-align: center;
}

.marksAdviceRowContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}