#panel-header-plus > *, #header-bg-plus > *, #header-right-plus > *, #header-left-plus > *, #header-title-plus > *{
    background-color: rgb(86 144 255) !important;
}

.plusOfferContainer{
    margin: 0 17px 10px 17px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 14px;
    margin-bottom: 9px;
}

.plusOfferInfo{
    height: 78%;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.plusOfferTitle{
    font-size: 26px;
    font-weight: bold;
    color: black;
    margin-bottom: 4px;
}

.plusOfferText{
    font-size: 15px;
    color: rgb(142 142 147);
    font-weight: bold;
}

.plusOfferAdditional{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 0 10px 0;
}

.plusButton{
    margin: 0;
    padding: 0;
    color: #fff;
    background:  linear-gradient( rgb(58 169 255), rgb(131 100 255), rgb(132 101 255));
    border-radius: 0 0 14px 14px !important;
    height: 51px !important;
    border: 0;
}

.plusButton > div > div{
    font-size: 17px !important;
    font-weight: bold !important;
}

.plusAliceContainer{
    width: 100%;
    padding: 0 18px 0 18px;
    color: #fff;
    background:  linear-gradient(90deg, rgb(201 38 255), rgb(74 38 255));
    border-radius:14px !important;
    height: 51px !important;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.plusAliceContainer > div > div{
    font-size: 20px !important;
    font-weight: bold !important;
}

.plusVkContainer{
    width: 100%;
    padding: 0 18px 0 18px;
    color: #fff;
    background:  linear-gradient(90deg, rgb(80 112 225), rgb(134 168 231));
    border-radius:14px !important;
    height: 51px !important;
    border: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.plusVkContainer > div > div{
    font-size: 20px !important;
    font-weight: bold !important;
}