#schedule > .Panel__in {
    padding-bottom: 0 !important;
}

#schedule > div {
    background-color: #5690FF !important;
}

.scheduleHeaderMonth {
    font-size: 17px;
}

.scheduleSubjectTale {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/

    background-color: #f6f6f6;
    border-radius: 20px;
}

.scheduleSubjectLastChild {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 56px;
}

.scheduleSubjectTaleNumber {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 26px;
    margin-right: 12px;

    border-radius: 20px 0 0 20px;
    background-color: #e8e8e8;
    color: #3c3c3c;
    font-size: 14px;
}

.scheduleSubjectTaleInfo {
    width: calc((100% - 62px) / 10 * 8);
    padding: 8px 0 8px 0;
}

.scheduleSubjectTaleMarks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 17px;
    margin-left: 9px;
    width: calc((100% - 62px) / 10 * 2);
    position: relative;
}

.scheduleSubjectTaleSubjectName {
    font-size: 16px;
    line-height: 16px;
    color: #292929;
}

.scheduleSubjectTaleHomework {
    margin-top: 8px;

    text-align: start;
    font-size: 14px;
    line-height: 14px;
    color: #535353;
}

.scheduleSubjectTaleTimetable {
    margin-top: 6px;

    font-size: 12px;
    line-height: 12px;
    color: #999999;
}

.scheduleTale {
    background-color: white;
    border-radius: 14px 14px 0 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    padding: 0;
}

.scheduleSliderContainer.Gallery--android {
    position: relative;
    height: calc(100vh - 56px - 24px - 70px);
}

.scheduleSliderContainer.Gallery--ios {
    position: relative;
    height: calc(100vh - 44px - 24px - 70px);
}

.scheduleSliderContainer > div > div > .Gallery__slide {
    /*overflow: scroll;*/
    margin-right: 10px;
}

.Gallery.Gallery--android .Gallery__slide:last-child {
    display: flex;
    width: 39px;
}

.Gallery.Gallery--ios .Gallery__slide:last-child {
    display: flex;
    width: 42px;
}

.scheduleSliderContainer > div:last-child {
    transition: transform 0.24s cubic-bezier(0.1, 0, 0.25, 1) 0s !important;
}

.scheduleTaleError {
    font-size: 16px;
    font-weight: bold;
    color: #ef464d;
    padding: 50% 16px 0 16px;
    text-align: center;
}

.modalScheduleTitle {
    color: #5690ff;
    font-size: 14px;
    margin: 0 0 16px 0;
}

.modalScheduleInfoRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
    color: #535353;
}

.modalScheduleInfoRowLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 25px;
}

.modalScheduleInfoRowText {
    display: flex;
    font-size: 14px;
    color: #535353;
}


#scheduleWeekSwiperLeft {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0 20px 20px 0;
    position: absolute;
    left: 0;
    width: 28px;
    height: 28px;
    font-size: 20px;
    color: #5690ff;
    padding: 0;
}

#scheduleWeekSwiperLeft.Div--android {
    top: 76px;
}

#scheduleWeekSwiperLeft.Div--ios {
    top: 64px;
}

#scheduleWeekSwiperRight {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px 0 0 20px;
    position: absolute;
    left: calc(100% - 28px);
    width: 28px;
    height: 28px;
    font-size: 20px;
    color: #5690ff;
    padding: 0;
}

#scheduleWeekSwiperRight.Div--android {
    top: 76px;
}

#scheduleWeekSwiperRight.Div--ios {
    top: 64px;
}

.modalEmptyElement {
    display: flex;
    width: 100%;
    height: 32px;
}

#scheduleWeekSwiperLeft:before {
    width: 100%;
    height: 40px;
    border-radius: 0;
    background-color: #FFF;
    display: inline-block;
    content: '';

    margin-left: -28px;
}

#scheduleWeekSwiperLeft > .up {
    position: absolute;
    background: #5690ff;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 0;
    border-radius: 0 0 0 999px;
}

#scheduleWeekSwiperLeft > .down {
    position: absolute;
    background: #5690ff;
    width: 8px;
    height: 8px;
    bottom: -8px;
    left: 0;
    border-radius: 999px 0 0 0;
}

#scheduleWeekSwiperRight:after {
    width: 100%;
    height: 40px;
    border-radius: 0;
    background-color: #FFF;
    display: inline-block;
    content: '';

    margin-right: -28px;
}

#scheduleWeekSwiperRight > .up {
    position: absolute;
    background: #5690ff;
    width: 8px;
    height: 8px;
    top: -8px;
    right: 0;
    border-radius: 0 0 999px 0;
}

#scheduleWeekSwiperRight > .down {
    position: absolute;
    background: #5690ff;
    width: 8px;
    height: 8px;
    bottom: -8px;
    right: 0;
    border-radius: 0 999px 0 0;
}

#arrow {
    display: none;
}