#panel-header-schedule > *, #header-bg-schedule > *, #header-right-schedule > *, #header-left-schedule > *, #header-title-schedule > * {
    background-color: rgb(86 144 255) !important;
    /*z-index: 5 !important;*/
}


#schedule {
    overflow: hidden;
}

#schedule > .Panel__in {
    padding-bottom: 0 !important;
    overflow-y: hidden;
}

#schedule > div {
    background-color: rgb(86 144 255) !important;
    overflow-y: hidden;
}

.scheduleHeaderMonth {
    font-size: 17px;
}

.scheduleSubjectTale {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    margin: 16px 16px 0 16px;
    border-radius: 20px;
    width: calc(100% - 32px);
}

.scheduleSubjectLastChild {
    width: calc(100% - 32px);
    min-height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.scheduleSubjectTaleNumber {
    min-width: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e8e8e8;
    border-radius: 20px 0 0 20px;
    font-size: 14px;
    color: #3c3c3c;
}

.scheduleSubjectTaleInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 8px 0 8px 12px;
}

.scheduleSubjectTaleMarks {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 16px 0 8px;
}

.scheduleSubjectTaleSubjectName {
    font-size: 16px;
    color: #292929;
}

.scheduleSubjectTaleHomework {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    color: #535353;
}

.scheduleSubjectTaleTimetable {
    font-size: 12px;
    color: #999999;
}

.scheduleTale {
    background-color: white;
    border-radius: 14px 14px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    overflow-x: hidden;
}

.scheduleSliderContainer {
    height: calc(100vh - 48px - 12px - 56px);
    overflow: hidden;
}

.scheduleSliderContainer > div > div > .Gallery__slide {
    overflow: scroll;
    margin-right: 10px;
}

.Gallery__slide:last-child {
    width: 45px;
}

.scheduleSliderContainer > div:last-child {
    transition: transform 0.24s cubic-bezier(0.1, 0, 0.25, 1) 0s !important;
}

.scheduleTaleError {
    font-size: 16px;
    font-weight: bold;
    color: #ef464d;
    padding: 50% 16px 0 16px;
    text-align: center;
}

.modalScheduleTitle {
    color: #5690ff;
    font-size: 14px;
    margin: 0 0 16px 0;
}

.modalScheduleInfoRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 16px;
}

.modalScheduleInfoRowLeft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 25px;
}

.modalScheduleInfoRowText {
    display: flex;
    font-size: 14px;
    color: #535353;
}


#scheduleWeekSwiperLeft {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 0 20px 20px 0;
    position: absolute;
    left: 0;
    top: 64px;
    width: 28px;
    height: 28px;
    font-size: 20px;
    color: #5690ff;
}

#scheduleWeekSwiperRight {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px 0 0 20px;
    position: absolute;
    left: calc(100% - 28px);
    top: 64px;
    width: 28px;
    height: 28px;
    font-size: 20px;
    color: #5690ff;
}

#scheduleWeekSwiperLeft:before {
    width: 100%;
    height: 40px;
    border-radius: 0;
    background-color: #FFF;
    display: inline-block;
    content: '';
}

#scheduleWeekSwiperLeft > .up {
    position: absolute;
    background: #5690ff;
    width: 6px;
    height: 6px;
    top: -6px;
    left: 0;
    border-radius: 0 0 0 999px;
}

#scheduleWeekSwiperLeft > .down {
    position: absolute;
    background: #5690ff;
    width: 6px;
    height: 6px;
    bottom: -6px;
    left: 0;
    border-radius: 999px 0 0 0;
}

#scheduleWeekSwiperRight:after {
    width: 100%;
    height: 40px;
    border-radius: 0;
    background-color: #FFF;
    display: inline-block;
    content: '';
}

#scheduleWeekSwiperRight > .up {
    position: absolute;
    background: #5690ff;
    width: 6px;
    height: 6px;
    top: -6px;
    right: 0;
    border-radius: 0 0 999px 0;
}

#scheduleWeekSwiperRight > .down {
    position: absolute;
    background: #5690ff;
    width: 6px;
    height: 6px;
    bottom: -6px;
    right: 0;
    border-radius: 0 999px 0 0;
}