.View__header * {
    background-color: var(--background-head);
    color: #ffffff;
}

.Tappable__waves {
    background-color: transparent !important;
}

.Tappable--android {
    position: relative;
    transition: background-color .15s ease-out !important;
}

* {
    font-family: 'Roboto', sans-serif !important;
    user-select: none;
}

section.View {
    height: calc(100vh - 24px);
}

:root, [data-theme="default"] {
    --statusbar_alternate_legacy_background: #5690ff;
    --the-color: #5690ff;

    --background: #ffffff;
    --background-block: #f6f6f6;
    --additional-background-block: #e8e8e8;
    --background-bottom-bar: #fafafa;
    --background-head: #5690ff;
    --background-text-color: #5690ff;
    --text-color: #292929;
    --inversed-text-color: #5690ff;
    --additional-text-color: #535353;
    --third-text-color: #999999;
    --button-secondary-text: #777777;
    --warning-text: #e80a1e;
    --bottom-buttons-inactive: #a8adaf;

    --hallowen-color: #5690ff;
    --eventual-color-1: #ffffff;
    --eventual-color-2: #ffffff;
    --eventual-color-3: #ffffff;

    /*progress bar*/
    --eventual-color-4: #05a732;
    --eventual-color-5: #04d461;

    /*advices*/
    --eventual-color-6: #1cb336;
    --eventual-color-7: #72de20;
}


[data-theme="dark"] {
    --the-color: #023064;
    --background: #023064;
    --background-block: #022959;
    --additional-background-block: #02254A;
    --background-bottom-bar: #023064;
    --background-head: #02275b;
    --background-text-color: #132029;
    --text-color: #ffffff;
    --inversed-text-color: #ffffff;
    /*--inversed-text-color: #fa6928;*/
    --additional-text-color: #f4f4f4;
    --third-text-color: #dbdbdb;
    --button-secondary-text: #5690ff;
    --warning-text: #ffffff;
    --bottom-buttons-inactive: #ffffff;

    --hallowen-color: #fa6928;
    --eventual-color-1: #a14907;
    --eventual-color-2: #517f54;
    --eventual-color-3: #29412b;

    --eventual-color-4: #ff512f;
    --eventual-color-5: #f09819;

    --eventual-color-6: #1cb336;
    --eventual-color-7: #72de20;
}

.View {
    overflow: hidden;
}
