.View__header  * {
    background-color: #5690ff;
    color: #ffffff;
}

.Tappable__waves{
    background-color: transparent !important;
}
.Tappable--android {
    position: relative;
    transition: background-color .15s ease-out !important;
}

* {
    font-family: 'Roboto', sans-serif !important;
}

section, .View, .View--ios, .View--header {
    height: calc(100vh - 52px);
}