.accountUserContainer {
    height: 56px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    background-color: var(--background);
    padding: 0 16px 0 16px;
}

.accountUserContainerAvatar {
    display: flex;
    width: 40px;
    height: 40px;
    position: relative;
}

.accountUserContainerAvatarImg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.accountUserContainerMedal {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -2px;
    right: -4px;
    z-index: 100;

    color: #ffffff;
    font-size: 12px;
}

.accountUserContainerRow {
    width: calc(100% - 52px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 12px;
}

.accountUserContainerName {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    font-size: 16px;
    color: var(--text-color);
}

.accountUserContainerBirthday {
    margin-left: 4px;
}

.accountUserContainerPercent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    color: var(--additional-text-color);
    font-size: 14px;
}