.levelCircleContainer{
    width: 26px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 11px;
}