.pullToRefreshContextContainer {
    color: #5690ff;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pullToRefreshContextIconContainer {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    -webkit-animation: rotation 0.75s linear infinite;
    -moz-animation: rotation 0.75s linear infinite;
    -ms-animation: rotation 0.75s linear infinite;
    -o-animation: rotation 0.75s linear infinite;
    animation: rotation 0.75s linear infinite;
}

@-webkit-keyframes rotation /* Safari and Chrome */
{
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes rotation {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(-360deg);
        -moz-transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
        -o-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}